<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="google_app_id2" translatable="false">0000000000000</string>
    <string name="GEO_API" translatable="false">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
    <string name="server_client_id" translatable="false">0000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com</string>
</resources>