package com.adsamcik.signals.network

public class Server {
	private static final String URL_WEB = "https://example.com/";
	static final String URL_TOKEN_REGISTRATION = URL_WEB + "api/example";
	static final String URL_DATA_UPLOAD = URL_WEB + "api/example";
	static final String URL_TILES = URL_WEB + "x%d/y%d/zoom%d/tile%s";
	static final String URL_PERSONAL_TILES = URL_WEB + "x%d/y%d/zoom%d";
	static final String URL_USER_STATS = URL_WEB + "api/example";
	static final String URL_STATS = URL_WEB + "api/example.json";
	public static final String URL_GENERAL_STATS = URL_WEB + "api/example.json";
	static final String URL_MAPS_AVAILABLE = URL_WEB + "api/example";
	static final String URL_FEEDBACK = URL_WEB + "api/example";
	static final String URL_USER_INFO = URL_WEB + "api/example";
	static final String URL_USER_PRICES = URL_WEB + "api/example";
	static final String URL_USER_UPDATE_MAP_PREFERENCE = URL_WEB + "api/example";
	static final String URL_USER_UPDATE_PERSONAL_MAP_PREFERENCE = URL_WEB + "api/example";
	static final String URL_CHALLENGES_LIST = URL_WEB + "api/example";

	public static String generateVerificationString(String userID, Long length) {
		return userID.toString();
	}
}
