<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="server_client_id" translatable="false">0000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com</string>
</resources>