<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.adsamcik.signals.useractivity">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application tools:node="replace">
        <service android:name=".services.ActivityService"/>
    </application>
</manifest>
