<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />


    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="com.adsamcik.tracker.permission.TRACKER"
        android:protectionLevel="signature" />

    <application>
        <service
            android:name="com.adsamcik.tracker.tracker.service.TrackerService"
            android:exported="false"
            android:foregroundServiceType="location"
            tools:targetApi="q" />

        <service
            android:name="com.adsamcik.tracker.tracker.service.ActivityWatcherService"
            android:exported="false" />

        <activity
            android:name="com.adsamcik.tracker.tracker.shortcut.ShortcutActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".notification.NotificationManagementActivity" />

        <receiver
            android:name="com.adsamcik.tracker.tracker.receiver.TrackerNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.adsamcik.tracker.tracker.receiver.TrackerTimeUnlockReceiver" />

        <receiver
            android:name="com.adsamcik.tracker.tracker.receiver.TrackerListenerRegistrationReceiver"
            android:exported="false"
            android:permission="com.adsamcik.tracker.permission.TRACKER">
            <intent-filter>
                <action android:name="com.adsamcik.tracker.listener.REGISTER" />
                <action android:name="com.adsamcik.tracker.listener.UNREGISTER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
