<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adsamcik.signalcollector.tracker">
    <application>
        <service
            android:name=".service.TrackerService"
            android:foregroundServiceType="location"
            android:exported="false"
            tools:targetApi="q" />
    </application>
</manifest>
