<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adsamcik.signalcollector.tracker">
    <application>
        <service
            android:name=".service.TrackerService"
            android:foregroundServiceType="location"
            android:exported="false"
            tools:targetApi="q" />

        <activity
            android:name=".shortcut.ShortcutActivity"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".receiver.TrackerNotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.TrackerTimeUnlockReceiver"/>
    </application>
</manifest>
