<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
            android:name="com.adsamcik.tracker.impexp.importer.service.ImportService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:targetApi="q" />
    </application>
</manifest>
