<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.adsamcik.signalcollector">

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- TODO REMOVE requestLegacyExternalStorage ONCE FILE LIBRARY SUPPORTS SCOPED STORAGE -->
    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="q">
        <activity
            android:name=".activity.ui.SessionActivityActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".module.activity.ModuleActivity"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="10"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.adsamcik.signalcollector.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sharable_paths"/>
        </provider>

        <activity
            android:name=".shortcut.ShortcutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
        </activity>
        <activity
            android:name=".app.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".export.activity.ExportActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <data android:mimeType="application/zip"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".license.LicenseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".preference.activity.SettingsActivity"
            android:parentActivityName=".app.activity.MainActivity"/>

        <activity
            android:name=".debug.activity.StatusActivity"
            android:exported="true"/>

        <receiver android:name=".app.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".tracker.receiver.TrackerNotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".app.receiver.OnAppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".tracker.receiver.TrackerTimeUnlockReceiver"/>

        <service
            android:name=".tracker.service.TrackerService"
            android:foregroundServiceType="location"
            android:exported="false"/>
        <service
            android:name=".activity.service.ActivityService"
            android:exported="false"/>
        <service
            android:name=".activity.service.ActivityWatcherService"
            android:exported="false"/>
        <service
            android:name=".import.service.ImportService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GEO_API"/>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false"/>

    </application>

</manifest>