<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.adsamcik.signals.tracking">

    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-feature android:name="android.hardware.wifi"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application  tools:node="replace">
        <service
            android:name=".services.TrackerService"
            android:exported="false"/>

        <service
            android:name=".services.DisableTillRechargeJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name="com.adsamcik.signals.tracking.receivers.NotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
