<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.adsamcik.tracker.game">

    <uses-permission android:name="com.adsamcik.tracker.permission.TRACKER" />

    <dist:module dist:title="@string/module_game_title">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

</manifest>

