<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.adsamcik.signalcollector.map">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <dist:module
        dist:instant="false"
        dist:onDemand="true">
        <dist:fusing dist:include="true"/>
    </dist:module>
</manifest>

