<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.adsamcik.tracker.map">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <dist:module dist:title="@string/module_map_title">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>

